<script language="javascript" type="text/javascript">
    $(function () {
        $('#dg_data').datagrid({
            url: '@Url.Action("GetInData", "StockInData")',
            queryParams: { "id": '@ViewData["Id"]' },
            nowrap: false,
            rownumbers: true,
            singleSelect: true,
            pagination: false,
            onResize: function () {
                $('#dg').datagrid('fixDetailRowHeight', index);
            },
            onLoadSuccess: function () {
                setTimeout(function () {
                    $('#dg').datagrid('fixDetailRowHeight', index);
                }, 0);
            }
        });

    });
</script>
<table id="dg_data">
    <thead>
        <tr>
            <th field="Id" width="100" hidden="true">标识
            </th>
            <th field="State" width="100" formatter="getState">状态
            </th>
            <th field="SKU" width="100">SKU
            </th>
            <th field="PName" width="100">
            产品名称
            <th field="Qty" width="100">入库数量
            </th>
            <th field="Remark" width="100">备注
            </th>
            <th field="ProductionOn" width="100" formatter="com.formatDate">生产日期
            </th>
            <th field="ExpirationOn" width="100" formatter="com.formatDate">到期时间
            </th>

        </tr>
    </thead>
</table>


