@model DDX.OrderManagementSystem.Domain.OrdersRulersType

@{
    Layout = null;
}
<script src="~/Scripts/easyUI/jquery.min_.js"></script>
<script type="text/javascript">
    
    $(function () {
   
       
    })
    function ShowDetail(a)
    {
    

    }
</script>
<div id="treeAccount"></div>
