@{
    ViewBag.Title = "ReportExpectTotle";
}
<script src="~/Scripts/easyUI/datagrid-groupview.js"></script>
<script>

    $(function () {
        $('#dg').datagrid({
            url: '@Url.Action("ReportStatusI", "ReportsII")',
            showFooter: true,

            pagination: true,//显示分页  
            pageSize: 500,//分页大小  
            pageList: [500],//每页的个数 
            showPageList: false,
            showRefresh: false,
            //showFooter: false,
            //onLoadSuccess: function (data) {
            //    debugger;
            //    var nI = 0;
            //}
        });
        $('#sArea').combobox({
            valueField: 0,
            textField: 1,
            panelHeight: 'auto',
            data: [["0", "全部"], ["宁波", "宁波"], ["义乌", "义乌"]],
            width: 100
        });
        $('#sstatus').combobox({
            valueField: 0,
            textField: 1,
            panelHeight: 'auto',
            data: [["0", "全部"], ["国外退件", "国外退件"], ["国内退件", "国内退件"]],
            width: 100
        });

        $('#sYear').combobox({
            valueField: 0,
            textField: 1,
            panelHeight: 'auto',
            data: [["2014", "2014年"],
                   ["2015", "2015年"],
                   ["2016", "2016年"],
                   ["2017", "2017年"],
                   ["2018", "2018年"],
                   ["2019", "2019年"],
                   ["2020", "2020年"]],
            width: 100
        });

        $('#sMonth').combobox({
            valueField: 'value',
            textField: 'label',
            panelHeight: 'auto',
            data: [{
                label: '1月',
                value: '1'
            }, {
                label: '2月',
                value: '2'
            }, {
                label: '3月',
                value: '3'
            }, {
                label: '4月',
                value: '4'
            }, {
                label: '5月',
                value: '5'
            }, {
                label: '6月',
                value: '6'
            }, {
                label: '7月',
                value: '7'
            }, {
                label: '8月',
                value: '8'
            }, {
                label: '9月',
                value: '9'
            }, {
                label: '10月',
                value: '10'
            }, {
                label: '11月',
                value: '11'
            }, {
                label: '12月',
                value: '12'
            }],
            width: 100
        });
        $('#pp').combobox({
            url: '@Url.Action("GetSearchOptions", "DataDictionaryDetail")/SalePlatform',
            valueField: 'DicValue',
            textField: 'FullName',
            required: true,
            width: 150,
            panelHeight: 'auto',
            onChange: changePlatform,
            onLoadSuccess: function () {
                var val = $(this).combobox("getData");
                for (var item in val[0]) {
                    if (item == 'DicValue') {
                        $(this).combobox("select", val[0][item]);
                    }
                }
            }
        });
        $('#sYear').combobox("setValue", "2017");
        $('#sMonth').combobox("setValue", "1");
        $('#sArea').combobox("setValue", "0"); 
        $('#sstatus').combobox("setValue", "0");
    });

    function changePlatform(n, o) {
        comboboxInit('/Account/GetAccountListByPlatform/', "id=" + n + "&t=1", 'aa', 'Id', 'AccountName', null, null, 500, false);
    }

    function Search() {
        search = $('#sArea').combobox("getValue") + "&"
            + $('#sYear').combobox("getValue") + "&"
            + $('#sMonth').combobox("getValue") + "&"
            + $('#pp').combobox("getValue") + "&"
            + $('#aa').combobox("getValue") + "&"
            + $('#sstatus').combobox("getValue") ;

        $("#dg").datagrid("load", {
            search: search
        });
        $("#dg1").datagrid("load", {
            search: search
        });
    }
    // 明细下载
    function Download() {
        search = $('#sArea').combobox("getValue") + "&"
            + $('#sYear').combobox("getValue") + "&"
            + $('#sMonth').combobox("getValue") + "&"
            + $('#pp').combobox("getValue") + "&"
             + $('#aa').combobox("getValue") + "&"
            + $('#sstatus').combobox("getValue");
        var postUrl = "/Order/ExportDown/1";
        $.ajax({
            url: '@Url.Action("ReportStatusIDetailExcel", "ReportsII")/',
            type: 'post',
            data: 'search=' + encodeURIComponent(search),
            success: function (result) {
                $.messager.show({
                    title: '提示',
                    msg: result.ErrorMsg,
                    timeout: 0,
                    showType: 'slide'
                });
                location.href = postUrl;
            }
        });
    }
</script>
<body class="easyui-layout">
    <div region="center">
        <table id="dg" class="easyui-datagrid"
            toolbar="#toolbar"
            rownumbers="true" fitcolumns="true" singleselect="true" pagination="true" fit="true">
            <thead>
                <tr>
                    <th field="地区" width="100">地区
                    </th>
                    <th field="平台" width="100">平台
                    </th>
                    <th field="帐号" width="100">帐号
                    </th>
                    <th field="订单数" width="100">订单数
                    </th>
                    <th field="退件类型" width="100">退件类型
                    </th>   
                    <th field="快递金额" width="100">快递金额(RMB)
                    </th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            年份<input type="text" id="sYear" />&nbsp;&nbsp;
            月份<input type="text" id="sMonth" />&nbsp;&nbsp;
            地区<input type="text" id="sArea" />
            平台<input id="pp" type="text">
            账号<input id="aa" type="text">
            退件类型<input type="text" id="sstatus" />
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="Search();">查询</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="Download();">原明细下载</a>
        </div>
    </div>
</body>

