@{
    ViewBag.Title = "包装扫描 V2";
}
<script type="text/javascript">


    document.write(' <OBJECT id="Player1"');
    document.write(' classid="clsid:6BF52A52-394A-11d3-B153-00C04F79FAA6"');
    document.write(' width=0 height=0 > <param name="URL" value="/Content/Audio/ring.wav" /> <param name="AutoStart" value="false" /> </OBJECT>');
    document.write(' <OBJECT id="Player2"');
    document.write(' classid="clsid:6BF52A52-394A-11d3-B153-00C04F79FAA6"');
    document.write(' width=0 height=0 > <param name="URL" value="/Content/Audio/ok.wav" /> <param name="AutoStart" value="false" /> </OBJECT>');
    document.write(' <OBJECT id="Player3"');
    document.write(' classid="clsid:6BF52A52-394A-11d3-B153-00C04F79FAA6"');
    document.write(' width=0 height=0 > <param name="URL" value="/Content/Audio/fk.mp3" /> <param name="AutoStart" value="false" /> </OBJECT>');
    document.write(' <OBJECT id="Player4"');
    document.write(' classid="clsid:6BF52A52-394A-11d3-B153-00C04F79FAA6"');
    document.write(' width=0 height=0 > <param name="URL" value="/Content/Audio/cd.wav" /> <param name="AutoStart" value="false" /> </OBJECT>');
    document.write(' <OBJECT id="Player5"');
    document.write(' classid="clsid:6BF52A52-394A-11d3-B153-00C04F79FAA6"');
    document.write(' width=0 height=0 > <param name="URL" value="/Content/Audio/ymd.mp3" /> <param name="AutoStart" value="false" /> </OBJECT>');
</script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script src="~/Scripts/Report/CreateControl.js"></script>
    <script src="/Scripts/Report/GRInstall.js"></script>
<script type="text/javascript">
    CreateReport("Report");

    $(function () {
        $("#txt").focus();
        $('#ll').combogrid({
            panelWidth: 360,
            idField: 'LogisticsCode',
            textField: 'LogisticsName',
            url: '/LogisticsMode/ALLList',
            fit: true,
            columns: [[
                { field: 'LogisticsName', title: '名称', width: 250 },
                { field: 'LogisticsCode', title: '代码', width: 100 },
                { field: 'ParentID', title: '代码', width: 100 }
            ]]
        });
        $('#ww').combobox({
            url: '/Warehouse/QList',
            valueField: 'Id',
            textField: 'WName',
            required: true
        });
        $('#ll').combogrid("setValue", "NB");
        $('#ww').combobox("setValue", "1");
        $("#btnPrint").click(function ()
        {
            

            $("#printcount").val(Number($("#printcount").val()) + Number(1));
            if ($("#printcount").val() < 3) {
                print();
                
            }
            else { alert("同一个单号只能被打印两次"); }
            $("#tc").focus();
        })
    })
    //Report.LoadFromURL("/Home/PrintGrf/8");
    function print() {
        //if ($('#ckBGD').attr("checked")) {
        //    Report.LoadDataFromURL("/Home/PrintOrder/" + id);
        //    Report.Print(true);
        //}
        var strids = $("#OrderNo").text();
        var postUrl = "/PackingScan/PackingScanV2/1";
        jQuery.ajax({
            url: "/PackingScan/SetPrintData2/",
            type: "post",
            data: "strids=" + strids,
            success: function (msg) {
                $('#printdata').val(msg.Result);
                var printid = msg.TmpID;
                //如果没有找到当前发货方式的模板则提示
                if (msg.TmpID == "") {
                    alert("当前物流方式没有对应模板，不能打印出面单");
                }

                else {
                    var url = "/Home/PrintGrf/" + printid;
                    var dataurl = "/Home/PrintData/" + msg.Result;
                    Report.LoadFromURL(url);
                    Report.LoadDataFromURL(dataurl);
                    Report.Print(false);
                }
                //Report.Print(false);
                //window.navigate(location);
                
                
               // CreatePrintViewerEx("100%", "100%", url, dataurl, true, "");
            }
        });
    }
</script>
<script type="text/javascript">

    function getDataa(v, l, m) {
        $.ajax({
            url: "/Logistics/GetData/",
            type: "post",
            data: "Id=" + v,
            success: function (res) {
                TrackCodeLength = res.CodeLength;
                //if (l != TrackCodeLength) {
                //    m = "     该订单 物流方式不能强制转换!    " + m;
                //    TrackCodeLength = l;
                //    progress = 0;
                //    ShowMessage(m, "物流方式不能强制转换", false);
                //}
            }
        });
    }
</script>
<body class="easyui-layout">
    <input type="hidden" id="printdata" />
    <input type="hidden" id="printcount" value="0"/>
    <div region="center">
        <table width="100%" cellspacing="6" cellpadding="0" border="0" style="border-collapse: separate; border-spacing: 6px;">
            <tbody>
                <tr valign="top">
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="blockTable">
                            <tbody>
                                <tr>
                                    <td style="padding-top: 0px; padding-left: 6px; padding-right: 6px; padding-bottom: 8px;">
                                        <div>
                                            <table cellspacing="0" cellpadding="5" bordercolor="#eeeeee" border="1" width="100%">
                                                <tbody>
                                                    <tr id="tr2">
                                                        <td style="text-align: right;">
                                                            <h2>状态</h2>
                                                        </td>
                                                        <td>
                                                            <span id="spanStatus" style="width: 100%; color: Red; font-size: 20px">等待扫描商品...
                                                                    

                                                            </span>
                                                        </td>
                                                    </tr>
                                                      <tr>
                                                        <td height="25" width="100" style="text-align: right;">
                                                            <h2>
                                                                <b>选项</b>
                                                            </h2>
                                                        </td>
                                                        <td>仓库:<input type="text" id="ww" />&nbsp;&nbsp;
                                                         <input type="checkbox" id="ckQ" />强制变更为当前选择物流&nbsp;&nbsp;
                                                        选择物流<input type="text" id="ll" />&nbsp;&nbsp;
                                                         <input type="checkbox" id="ckQ2" />限制(只能扫描当前选择物流)&nbsp;&nbsp;
                                                        打印报关单<input type="checkbox" id="ckBGD" />&nbsp;&nbsp;
                                                        电子称<input type="checkbox" id="ckCheng" checked="checked" />
                                                            @*<a href="javascript:setWeight('BLKSSS',740)">点此修改重量</a>*@
                                                        </td>
                                                    </tr>
                                                    <tr id="tr_ID">
                                                        <td height="25" width="100" style="text-align: right;">
                                                            <h2>
                                                                <b>条码</b></h2>
                                                        </td>
                                                        <td>
                                                            <input id="txt" onkeydown="return txt_keydown(event)" style="font-size: 50px; background-image: none; width: 511px" />

                                                            <input type="button" onclick="Scan();" value="扫描(Enter)" style="width: 200px; height: 40px;" />
                                                            <input type="button" onclick="Reset();" value="取消(Esc)" style="width: 200px; height: 40px;" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="25" style="text-align: right;">
                                                            <h2>订单信息</h2>
                                                        </td>
                                                        <td>
                                                            <h2>
                                                                <table width="100%" border="0" cellpadding="5" id="tOrder">
                                                                    <tr>
                                                                        <td width="100" align="right"><font size='2'>系统单号：</font></td>
                                                                        <td width="200">
                                                                            <font size='2'><span id="OrderNo">----</span></font>
                                                                            <input type="button"  value="打印" id="btnPrint" style="display:none"/>
                                                                        </td>
                                                                        <td width="100" align="right"><font size='2'>平台单号：</font></td>
                                                                        <td width="200"><font size='2'><span id="OrderExNo">----</span></font></td>
                                                                        <td width="100" align="right"><font size='2'>发货方式：</font></td>
                                                                        <td width="200"><font size='2'><span id="LogisticMode">----</span></font></td>
                                                                        <td>&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="100" align="right"><font size='2'>收件国家：</font></td>
                                                                        <td width="200"><font size='2'><span id="Country">----</span></font></td>
                                                                        <td width="100" align="right"><font size='2'>跟踪码：</font></td>
                                                                        <td width="200"><font size='2'><span id="TrackCode">----</span></font></td>
                                                                        <td width="100" align="right"><font size='2'>包裹类型：</font></td>
                                                                        <td width="200"><font size='2'><span id="OrderType">----</span></font></td>
                                                                        <td>&nbsp;</td>
                                                                    </tr>
                                                                </table>
                                                            </h2>
                                                        </td>
                                                    </tr>
                                                     <tr id="tr1">
                                                        <td height="25" style="text-align: right;">
                                                            <h2>重量</h2>
                                                        </td>
                                                        <td>
                                                            @*<object id='tc' width="200" height="25" classid="clsid:5FE3EF45-DBFE-3C80-BD1B-D60C9502039C">
                                                            </object>
                                                            &nbsp;&nbsp;<input type="hidden" id="txtweight" />*@
                                                            <input  id="tc"  width="200" height="25"  background-image: none; onkeydown="return txt_keydownweight(event)"/>
                                                        </td>
                                                    </tr>
                                                    <tr id="tr4" style="height: 380px;">
                                                        <td height="25" style="text-align: right;">
                                                            <h2>商品信息</h2>
                                                        </td>
                                                        <td style="vertical-align: top;">
                                                            <table id="tProducts" width="100%" border="0" cellpadding="5" style="color: Blue; font-size: 20px">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="80" align="center">#</th>
                                                                        <th width="200" align="center">SKU</th>
                                                                        @*<th width="200" align="center">品名/规格</th>*@
                                                                        <th width="80" align="center">Qty</th>
                                                                        <th width="100" align="center">扫描次数</th>
                                                                        <th align="center"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <script type="text/javascript">
            var zl = 0; //重量
            var o = ""; //包裹编号
            var progress = 0;  // 处理状态0：等待扫描跟踪码，1：等待扫描商品SKU code，2：订单状态转变为待发货 3.将订单发货
            var IsCanDelivery = 1;
            var txt = document.getElementById("txt");
            var TrackCodeLength = -1;
            var TrackCodeLength2 = -1;
            var oldstr = "";
            //var spanInfo = document.getElementById("spanInfo");
            var spanStatus = document.getElementById("spanStatus");
            var skuCode = [];

            // 回车操作
            function txt_keydown(e) {
                var keynum;
                if (window.event) //IE
                {
                    keynum = e.keyCode;
                }
                else if (e.which) //Netscape/Firefox/Opera
                {
                    keynum = e.which;
                }
                if (keynum == 13) {
                    Scan();
                    //if (txt.value == "") { Reset(); return; }

                    //if (progress == 0) {
                    //    // 
                    //    TrackCodeLength = -1;
                    //    TrackCodeLength2 = -1;
                    //    getOrder(txt.value);
                    //}
                    //else if (progress == 1) {
                    //    getSKU(txt.value);
                    //}
                    //else if (progress == 2) {
                    //    // 包装扫描结束
                    //    OutStock(txt.value);
                    //}
                    //txt.value = "";
                    return false;
                }
                if (keynum == 27) {
                    Reset();
                }
                return true;
            }
            function txt_keydownweight(e) {
                var keynum;
                if (window.event) //IE
                {
                    keynum = e.keyCode;
                }
                else if (e.which) //Netscape/Firefox/Opera
                {
                    keynum = e.which;
                }
                if (keynum == 13) {
                    
                    iscon = true;
                    valiOrder();
                    if (iscon) {
                        //数量一致则允许发货
                        //包装扫描包裹重量超过2KG时跳出提示框是否允许发货
                        if ($("#tc").val() >= 2000) {
                            if (confirm("是否允许发货?")) {
                                //称重的时候进行发货扫描
                                if ($("#TrackCode").text() != "null" && $("#TrackCode").text() != "已用完" && IsCanDelivery != 0) {
                                    DeliveryScan($("#TrackCode").text());
                                }
                            }
                            else { $("#tc").val(""); }
                        }
                        else {
                            //称重的时候进行发货扫描
                            if ($("#TrackCode").text() != "null" && $("#TrackCode").text() != "已用完" && IsCanDelivery != 0) {
                                DeliveryScan($("#TrackCode").text());
                            }
                        }
                    }
                    else {
                       
                        
                    }
                   
                    return false;
                   
                }
                if (keynum == 27) {
                    Reset();
                }
                return true;
            }
            function Scan() {
                if (txt.value == "") { Reset(); return; }
                if (progress == 0) {
                    // 
                    TrackCodeLength = -1;
                    TrackCodeLength2 = -1;
                    getOrder(txt.value);
                }
                else if (progress == 1) {
                    getSKU(txt.value);
                }
               
                txt.value = "";
                $("#txt").focus();
            }

            // 获取SKU
            function getSKU(c) {
                jQuery.ajax({
                    url: "/PackingScan/IsValidateSKU/",
                    type: "post",
                    data: "code=" + c,
                    success: function (msg) {
                        if (msg.IsSuccess) {
                            progress = 1;
                            code = c;
                            
                            //$("#tc").focus();
                            setSKU(msg.Result);
                        } else {
                            progress = 1;

                            ShowMessage(null, "错误：" + msg.Result, false);
                            Player1.controls.play();
                        }
                    }
                });
            }

            // 获取订单信息
            function getOrder(d) {
               
                for (var i = 0; i < skuCode.length; i++) {
                    if (skuCode[i].toUpperCase() == code.toUpperCase()) {
                        ShowMessage(null, "扫描错误！该条码已被配货扫描了！禁止重复操作！", false);
                        Player5.controls.play();
                        return;
                    }
                }

                jQuery.ajax({
                    url: "/PackingScan/PDAgetOrderInfoBySKU/",
                    type: "post",
                    data: "code=" + d,
                    success: function (msg) {
                        if (msg.IsSuccess) {
                            //debugger;
                            //ShowMessage("", "扫描商品:" + TrackCode, false);
                            TrackCodeLength = msg.Code;
                            $("#OrderNo").text(msg.Result.OrderNo);
                            $("#OrderExNo").text(msg.Result.OrderExNo);
                            $("#LogisticMode").text(msg.Result.LogisticMode);
                            $("#Country").text(msg.Result.Country);
                            $("#TrackCode").text(msg.Result.TrackCode);
                            $("#OrderType").text(msg.ResultType);
                            $("#btnPrint").show();
                            
                            for (var nI = 0; nI < msg.Result.Products.length; nI++) {
                                var tr = $("<tr name=\"tr_" + msg.Result.Products[nI].SKU.toUpperCase() + "\"></tr>")
                                tr.append($("<td align=\"center\">" + (nI + 1) + "</td>"));
                                tr.append($("<td>" + msg.Result.Products[nI].SKU + "</td>"));
                                //tr.append($("<td>" + msg.Result.Products[nI].Title + "</td>"));
                                tr.append($("<td name=\"qty\" align=\"center\">" + msg.Result.Products[nI].Qty + "</td>"));
                                //if (msg.SKU == msg.Result.Products[nI].SKU) {
                                //    tr.append($("<td name=\"cqty\" align=\"center\">" + 1 + "</td>"));
                                //}
                               // else {
                                    tr.append($("<td name=\"cqty\" align=\"center\">" + 0 + "</td>"));
                               // }
                                //debugger;
                                $("#tProducts tbody").append(tr)
                            }
                            //如果是单品单件则直接称重
                            if (msg.ResultType == "单品单件") {
                                getSKU(d);
                                $("#tc").focus();
                            }
                            else {
                                progress = 1;
                                getSKU(d);
                                ShowMessage("", "等待扫描商品...", false);
                            }
                           
                        } else {
                          
                            ShowMessage("", msg.Result, false);
                            progress = 0;
                            IsCanDelivery = 1;
                           
                        }
                    }
                });
            }

            // 包装扫描
            function PackingScan(TrackCode, skuCodeList) {
                if (TrackCodeLength == 0) {
                    if (o != TrackCode) {
                        ShowMessage("前后输入不一致，请重新输入", "等待扫描", false);
                        return;
                    } else {
                        TrackCode = "";
                    }
                }

                jQuery.ajax({
                    url: "/PackingScan/PackingScan2/",
                    type: "post",
                    data: "TrackCode=" + TrackCode + "&SkuCodeList=" + skuCodeList + "&Type=" + $("#OrderType").text(),
                    success: function (msg) {
                        if (msg.IsSuccess) {
                           
                            //$("#tOrder")[0].style.textDecorationLineThrough = true;
                            //$("#tProducts")[0].style.textDecorationLineThrough = true;
                            msg.Result = msg.Result.replace('扫描商品条码', '称重时将发货');
                            ShowMessage("包装扫描结束，等待进行称重发货...", msg.Result, true);
                            Player2.controls.play();
                            //if (confirm('确认打印？'))
                            //{
                                print();
                            //}
                            // Reset();
                                $("#tc").focus();
                               
                        } else {
                            
                            Player5.controls.play();
                            IsCanDelivery = 0;
                            Reset();
                            ShowMessage("", msg.Result, false);

                        }
                       
                    }
                });
            }
            // 发货扫描
            function DeliveryScan(TrackCode) {
                if (TrackCodeLength == 0) {
                    if (o != TrackCode) {
                        ShowMessage("前后输入不一致，请重新输入", "等待扫描", false);
                        return;
                    } else {
                        TrackCode = "";
                    }
                }
                var LogisticMode = $("#ll").combogrid("getValue");
                var WarehouseId = $("#ww").combobox("getValue");
                if (!$("#ckQ").prop("checked")) {
                    LogisticMode = "";
                }
                var Weight = $("#tc").val();
               // var Weight ="2";
                jQuery.ajax({
                    url: "/PackingScan/Scan/",
                    type: "post",
                    data: "TrackCode=" + TrackCode + "&Weight=" + Weight + "&WarehouseId=" + WarehouseId + "&LogisticMode=" + LogisticMode + "&Type=" + "&Type=" + $("#OrderType").text(),
                    success: function (msg) {
                        if (msg.IsSuccess) {
                            progress = 0;
                            $("#tOrder")[0].style.textDecorationLineThrough = true;
                            $("#tProducts")[0].style.textDecorationLineThrough = true;
                            Player2.controls.play();
                            Reset();
                            msg.Result = msg.Result.replace('跟踪码', '商品条码');
                            ShowMessage("", msg.Result, true);

                        } else {
                            ShowMessage("", msg.Result, false);
                            Player5.controls.play();
                        }
                    }
                });
            }
            // 初始化操作界面
            function Reset() {
                progress = 0;
                IsCanDelivery = 1;
                txt.value = "";
                skuCode = [];
                $("#OrderNo").text("----");
                $("#OrderExNo").text("----");
                $("#LogisticMode").text("----");
                $("#Country").text("----");
                $("#TrackCode").text("----");
                $("#OrderType").text("----");
                $("#btnPrint").hide();
                $("#tProducts tbody tr").remove();
                $("#tOrder")[0].style.textDecorationLineThrough = false;
                $("#tProducts")[0].style.textDecorationLineThrough = false;
                ShowMessage("", "等待扫描商品...", true);
                $("#txt").focus();
                $("#tc").val("");
                $("#printcount").val("0")
            }
            function ShowMessage(msgInfo, msgStatus, isOk) {
                if (msgInfo != null) {
                    //spanInfo.innerHTML = msgInfo;
                }
                if (msgStatus != null) {
                    spanStatus.innerHTML = msgStatus;
                }
                if (isOk) {
                    spanStatus.style.color = "Blue";
                }
                else {
                    spanStatus.style.color = "Red";
                }
            }

            // 记录并设置当前商品扫描状态
            function setSKU(sku) {
                
                if ($("tr[name='tr_" + sku.toUpperCase() + "']").length == 0) {
                    ShowMessage(null, "扫描错误！该商品SKU条码与订单SKU不符！请检查！", false);
                    code = "";
                    Player5.controls.play();
                    return;
                }
                for (var i = 0; i < skuCode.length; i++) {
                    if (skuCode[i].toUpperCase() == code.toUpperCase()) {
                        ShowMessage(null, "扫描错误！该条码已被配货扫描了！禁止重复操作！", false);
                        Player5.controls.play();
                        return;
                    }
                }
                
                $("tr[name='tr_" + sku.toUpperCase() + "']").each(function () {
                    
                    var qty = parseFloat($(this).find("[name='qty']").text());
                    var cqty = parseFloat($(this).find("[name='cqty']").text());

                    //if (type==1) {
                    //    cqty = parseFloat(cqty) + 1;
                    //}
                    //$(this).attr("cqty", cqty);
                    cqty = parseFloat(cqty) + 1;
                        $(this).find("[name='cqty']").text(cqty);
                       
                       
                        
                        skuCode.push(code);
                        //$("#r_" + c).html(cqty);
                        // skuCode.add(code);
                        //检查是不是所有的条码都好了
                        iscon = true;
                        valiOrder();
                        if (iscon) {
                            
                            //if ($("#ckCheng").prop("checked")) {
                            //    progress = 3;
                            //    if ($("#ckCheng").prop("checked")) {
                            //        var tc = document.getElementById('tc');
                            //        zl = tc.Value;
                            //    } else {
                            //        zl = 0;
                            //    }
                            //    ShowMessage(null, "所有产品扫描完成！请输入追踪码", true);
                            //} else {
                            //    progress = 2;
                            //    ShowMessage(null, "订单商品扫描结束！等待扫描跟踪码...", true);
                            //}
                            progress = 0;
                            //$("#tOrder")[0].style.textDecorationLineThrough = true;
                            //$("#tProducts")[0].style.textDecorationLineThrough = true;
                            //ShowMessage(null, "订单包装扫描结束！等待扫描跟踪码...", true);
                            
                            PackingScan($("#TrackCode").text(), skuCode.join(','));
                            //称重量
                           // $("#tc").focus();

                        }
                        else {
                            ShowMessage(null, "商品条码：" + code + " [" + sku + "]扫描成功！等待扫描商品条码...", true);
                        }
                        return false;
                    
                });

            }

            function valiOrder() {
                iscon = true;
                $("[name^='tr_']").each(function () {
                    var a = parseFloat($(this).find("[name='qty']").text());
                    var b = parseFloat($(this).find("[name='cqty']").text());
                    if (a != b) {
                       
                        iscon = false;
                        return false;
                    }
                });
            }

            //function setWeight(s, w) {
            //    $.messager.confirm('修改的重量', "修改" + s + "的重量为:" + w, function (r) {
            //        if (r) {
            //            jQuery.ajax({
            //                url: "/Product/EditProductWeight/",
            //                type: "post",
            //                data: "s=" + s + "&w=" + w,
            //                success: function (msg) {
            //                    if (msg.IsSuccess) {
            //                        txt.foucs();

            //                    } else {

            //                    }
            //                }
            //            });
            //        }
            //    });

            //}
            $.messager.defaults = { ok: "确定", cancel: "取消" };
        </script>
    </div>
</body>
